# Lab 1

Objectives

- Design and implement a relational schema using SQL DDL.

- Define domain constraints, primary keys, and foreign keys.

- Enforce referential integrity.

- Populate schema with sample data.

## Schema design

The database is designed to store student records, course information and enrollments of students into courses.

**Students**

- `sid`: student ID
- `gpa`: a numierc value between 0.00 to 4.00.  We want to use three digits for the whole number, and two digits for the decimals.
- ...: more information are shown in the sample data.

**Courses**

- `cid`: course ID
- `title`: a string that is the course title
- `credits`: a decimal, indicating credits (e.g. 0, 0.5, 1.0, 1.5)

**Enrollments**

Enrollments store which student is taking which courses, as well as their final grades.

- `sid`: the student
- `cid`: the course the student takes
- `grade`: this is a letter grade, with at most two characters.

## Data

Consider some sample data.

**Students**

| sid  | name          | major            | year | gpa  |
| ---- | ------------- | ---------------- | ---- | ---- |
| S101 | Alice Wong    | Computer Science | 2    | 3.80 |
| S102 | Bob Smith     | Mathematics      | 3    | 3.20 |
| S103 | Emma Patel    | Biology          | 2    | 3.50 |

**Courses**

| cid  | title            | credits |
| ---- | ---------------- | ------- |
| C201 | Database Systems | 1.5     |
| C202 | Linear Algebra   | 1.0     |
| C203 | Intro to Biology | 1.5     |


**Enrollment**

| sid  | cid  | grade |
| ---- | ---- | ----- |
| S101 | C201 |       |
| S101 | C203 | B     |
| S102 | C202 | B     |

## You work

- Edit the `create.sql` file to create the tables.
- Ensure you use the right data type.
- Ensure you define the proper primary key constraints.
- Ensure you define the proper foreign key constraints.

In [1]:
# [THIS IS READ-ONLY]
# @check
# @title: create

! psql < drop.sql
! psql < create.sql
! psql -c "\\d students"
! psql -c "\\d courses"
! psql -c "\\d enrollments"

CREATE TABLE
CREATE TABLE
CREATE TABLE
                     Table "public.students"
 Column |         Type          | Collation | Nullable | Default
--------+-----------------------+-----------+----------+---------
 sid    | character(4)          |           | not null |
 name   | character varying(50) |           | not null |
 major  | character varying(30) |           |          |
 year   | integer               |           | not null |
 gpa    | numeric(3,2)          |           |          |
Indexes:
    "students_pkey" PRIMARY KEY, btree (sid)
Referenced by:
    TABLE "enrollments" CONSTRAINT "enrollments_sid_fkey" FOREIGN KEY (sid) REFERENCES students(sid)

                      Table "public.courses"
 Column  |          Type          | Collation | Nullable | Default
---------+------------------------+-----------+----------+---------
 cid     | character(4)           |           | not null |
 title   | character varying(100) |           | not null |
 credits | numeric(2,1)           |           |          |
Indexes:
    "courses_pkey" PRIMARY KEY, btree (cid)
Check constraints:
    "courses_credits_check" CHECK (credits >= 0::numeric AND credits <= 1.5)
Referenced by:
    TABLE "enrollments" CONSTRAINT "enrollments_cid_fkey" FOREIGN KEY (cid) REFERENCES courses(cid)

               Table "public.enrollments"
 Column |     Type     | Collation | Nullable | Default
--------+--------------+-----------+----------+---------
 sid    | character(4) |           | not null |
 cid    | character(4) |           | not null |
 grade  | character(2) |           |          |
Indexes:
    "enrollments_pkey" PRIMARY KEY, btree (sid, cid)
Check constraints:
    "enrollments_grade_check" CHECK ((grade = ANY (ARRAY['A+'::bpchar, 'A'::bpchar, 'B'::bpchar, 'C'::bpchar, 'D'::bpchar, 'F'::bpchar])) OR grade IS NULL)
Foreign-key constraints:
    "enrollments_cid_fkey" FOREIGN KEY (cid) REFERENCES courses(cid)
    "enrollments_sid_fkey" FOREIGN KEY (sid) REFERENCES students(sid)

# Your work

- Use INSERT statements to populate the tables with the sample data given ablove.

In [2]:
# [THIS IS READ-ONLY]
# @check
# @title: insert

! psql < delete.sql
! psql < insert.sql
! psql -c 'SELECT * FROM students ORDER BY sid';
! psql -c 'SELECT * FROM courses ORDER BY cid, title';
! psql -c 'SELECT * FROM enrollments ORDER BY sid, cid, grade';

INSERT 0 3
INSERT 0 3
INSERT 0 3
 sid  |    name    |      major       | year | gpa
------+------------+------------------+------+------
 S101 | Alice Wong | Computer Science |    2 | 3.80
 S102 | Bob Smith  | Mathematics      |    3 | 3.20
 S103 | Emma Patel | Biology          |    2 | 3.50
(3 rows)

 cid  |      title       | credits
------+------------------+---------
 C201 | Database Systems |     1.5
 C202 | Linear Algebra   |     1.0
 C203 | Intro to Biology |     1.5
(3 rows)

 sid  | cid  | grade
------+------+-------
 S101 | C201 |
 S101 | C203 | B
 S102 | C202 | B
(3 rows)

# Try out some invalid inserts

1. Insert a student with an ID `S101` which is already used for `Alice Wong`.

2. Insert a new course with credits `3.0`.

3. Insert an enrollment of student with ID `S200` into course `C201`.  The student ID does not exist.

In [3]:
# [YOUR WORK HERE]
# @workUnit
! psql -c "insert into students values ('S101', 'Lena Carter', 'Psychology', 4, 3.10)"

ERROR:  duplicate key value violates unique constraint "students_pkey"
DETAIL:  Key (sid)=(S101) already exists.

In [4]:
# [YOUR WORK HERE]
# @workUnit
! psql -c "insert into courses values ('C204', 'Database Systems & Concepts', 3.0)"

ERROR:  new row for relation "courses" violates check constraint "courses_credits_check"
DETAIL:  Failing row contains (C204, Database Systems & Concepts, 3.0).

In [5]:
# [YOUR WORK HERE]
# @workUnit
! psql -c "insert into enrollments values ('S200', 'C201', NULL)"

ERROR:  insert or update on table "enrollments" violates foreign key constraint "enrollments_sid_fkey"
DETAIL:  Key (sid)=(S200) is not present in table "students".