# Lab 4: Basic SQL

In [1]:
# [THIS IS READ-ONLY]
! psql < /home/jovyan/public/data/Chinook_PostgreSql.sql >/dev/null 2>&1

We can run query by specifying it as an argument to `psql`.

In [2]:
# [THIS IS READ-ONLY]
# Run psql

! psql -c "select count(*) from artist"

 count
-------
   275
(1 row)

We can save the result into a file.

In [3]:
# [THIS IS READ-ONLY]
# Run psql with output to a file
! psql -c "select count(*) from artist" > output_1.txt

In [4]:
# [THIS IS READ-ONLY]
# @check
# @title: output_1

! cat output_1.txt

 count
-------
   275
(1 row)

BASH allows us to specify multi-line input into a program through stdin.

Try to do this in the terminal:

```
psql <<END
select
  count(*) as num_artists
from artist
END
```

From command line, count the number of rows in the `track` table.

In [5]:
# [THIS IS READ-ONLY]
# @check
# @title: check_2

! cat output_2.txt

 count
-------
  3503
(1 row)

The most versatile and managable way to maintain your queries is
to have them in a file.

Create a file called `query_3.sql` which counts the rows in the table `playlist`.
We can run it using `psql`.

In [6]:
# [THIS IS READ-ONLY]
# @check
# @title: query_3.sql
! psql < query_3.sql

 count
-------
    18
(1 row)

**Congrats**, now you are ready to start your assignment_2.  In assignment 2, you are to write your queries in text files, which will be executed and evaluated against a database.

# Learning about database API in Python

In this section, you will have to complete the following tasks by learning the details on your own (with the help of this lab).

In [7]:
# [THIS IS READ-ONLY]
#
# We will use the Psycopg2 library which is a postgres database connectivity
# library for Python.
#

import psycopg2 as pg

In [8]:
# [YOUR WORK HERE]
# @workUnit

# First we need to construct a database connection.  All database activities
# happen via the connection object.

# You need to learn on how to specify a connection string in the form of "postgres://..."
# The database to connect is called "jovyan".

# Optionally, you can provide the follow: 
# - the database server "127.0.1".
# - port: 5432
# - user: jovyan
#
# These optionally data need to packed into the connection string.

conn = pg.connect("postgresql://jovyan@127.0.0.1:5432/jovyan")

Next, we need to create a cursor object.  A cursor is an object that scans through results
of a SQL query.

In [9]:
# [YOUR WORK HERE]
# @workUnit

# create a cursor object from the `conn` object.

cur = conn.cursor()

Now, we can use the cursor to execute a SQL query.

In [10]:
# [THIS IS READ-ONLY]
sql = "select * from artist"

In [11]:
# [YOUR WORK HERE]
# @workUnit

#
# use the execute method of the cursor object to run the query.
#

cur.execute("SELECT * FROM artist;")

In [12]:
# [YOUR WORK HERE]
# @workUnit

# cursor provides a number of fetch methods.
# use `fetchone()` method to fetch the first row.

row = cur.fetchone()

In [13]:
# [THIS IS READ-ONLY]
# @check
# @title: first row

print(row)

(1, 'AC/DC')